<div class="jumbotron">
  <div class="header">
    <h1>{{title}}</h1>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </div>
  <div class="btn-group">
    <a class="btn btn-primary btn-lg" href="/#map-container" role="button">Map</a>
    <a class="btn btn-primary btn-lg" href="/#tweet-index" role="button">Search</a>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </div>
</div>

<div class="about-container">
  <p>Here is a snapshot of the entire Big Data Architecture</p>
  <img src="/images/Capture.jpg" alt="Screenshot of our architecture" class="responsive" width="80%">
  <p>Check out our github repo here <a href="https://github.com/CUBigDataClass/DataDreamTeam">Data Dream Team</a></p>
</div>
