<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>
<div class="header">
  <h1>{{title}}</h1>
  <p>Hello</p>
</div>
<section id="map-container">
  <div id="map"></div>
</section>
  <!-- <iframe src="https://api.mapbox.com/styles/v1/tkayne10/cj1tzvn3s001p2soc1pq5qh8u.html?title=true&access_token=pk.eyJ1IjoidGtheW5lMTAiLCJhIjoiY2lwOTVobWx3MDFnNHRjbHl0am95YmhvMSJ9.RSsOrxJBCf89fcrlDJfejg#3.2/35.938249/-447.823369/0" width="1000" height="600"></iframe> -->
<section id="tweet-index">
  <form class="form-inline" action="/" method="GET">
    <div class="form-group">
      <input type="text" name="search" placeholder="Search job here..." class="form-control">
      <input type="submit" class="btn btn-default" value="Search">
    </div>
  </form>
  <table class="table">
    <thead>
      <th>Tweet</th>
      <th>Tweet URL</th>
      <th>Date Posted</th>
    </thead>
    <tbody>
      {{#each tweets}}
        <tr>
          <td>{{this.body}}</td>
          <td><a href="{{this.link}}">View Description here</a></td>
          <td>{{this.postedTime}}</td>
        </tr>
      {{/each}}
    </tbody>
  <table>
</section>
<script type="text/javascript">
  mapboxgl.accessToken = 'pk.eyJ1IjoidGtheW5lMTAiLCJhIjoiY2lwOTVobWx3MDFnNHRjbHl0am95YmhvMSJ9.RSsOrxJBCf89fcrlDJfejg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/tkayne10/cj1tzvn3s001p2soc1pq5qh8u',
    center: [-94.298, 40.920],
    zoom: 3.3
  });
  map.on('load', function () {
    // When a click event occurs on a feature in the manytweetjobs layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'manytweetjobs', function (e) {
        new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(e.features[0].properties.body)
            .addTo(map);
    });
    // Change the cursor to a pointer when the mouse is over the manytweetjobs layer.
    map.on('mouseenter', 'manytweetjobs', function () {
        map.getCanvas().style.cursor = 'pointer';
    });
    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'manytweetjobs', function () {
        map.getCanvas().style.cursor = '';
    });
  });
</script>
